# Visual Studio
.vs/
**/.vs/

# Build directories
**/x64/
**/x86/
**/Debug/
**/Release/

# VS generated
*.aps
*.suo
*.user
*.VC.db
*.VC.opendb
*.VC.db-shm
*.VC.db-wal
*.ipch
*.tlog
*.pdb
*.ilk
*.obj
*.recipe
*.lastbuildstate

# Visual Studio Versions
vs2005/
vs2019/
vs2026/

# Nullsoft Scriptable Install System (NSIS)


# Logs
*.log
